* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    font-family: 'JetBrains Mono', monospace;
    background: #2C2B3D;
}

.wrapper {
    margin: 0 auto;
    max-width: 90rem;
    padding: 5% 8%;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 101px;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color: #FFFFFF;
}

ul li a:hover {
    color: #00BFA6;
}

main {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;

    text-align: center;

    font-weight: 700;
}

span {
    color: #00BFA6;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

section p {
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#line {
    width: 568.001px;
    height: 1px;
    background: #00BFA6;

    margin: 157px auto 27px;
}

footer {
    color: #FFF;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

#padlock {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
}